/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
/* Header Styles */
header{
    min-height: 200px;
    margin:auto;
    background-color: #FCBF49;
}

footer{
    background-color: #FCBF49;

}

body {
    background-color: rgba(234, 226, 183, 0.205);
}

.header-title{
    padding: 20px;
    margin: auto;
    align-items: center;
}

.header-title h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #003049;

}
.container{
    padding: 50px;
    margin-bottom: 10px;
}

.container-footer {
    padding: 50px;
    margin-bottom: 0px;
}

.footer-logo-img{
    background-color: white;
    padding: 10px;
}

.selectmovie-title h2, #year-heading    {
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 32px;
color: #003049;
border-bottom: 1px solid #F77F00;
padding: 5px;
margin: 1rem;
}

.error-message p{
padding: 10px;
    margin: 2px;
    color: red;
    font-family: 'Poppins';
}
/* Body Style */
.selectmovie-title{
    padding: 10px;
    margin:5px;
}

.selectmovie-body input[type="number"]{
    padding: 12px;
    height: 50px;
    width: 300px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.selectmovie-body input[name="movieyears"]{
    padding: 12px;
    height: 50px;
    width: 300px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.mv-btn{
    /* height:30px;
    border:none;
    padding-left: 15px;
    padding-right:15px; */

        background-color: #F77F00; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      
}

.mv-btn:hover{
    background-color:#FCBF49; /* Green */

}

/* Movive Listing Section */
.movie-list{
    padding: 50px;
    margin: 10px;
    /* min-height: 300px;
    min-width: 100%; */
    background-color:rgba(234,226,183, 0.5);
    /* display: inline-block;   */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1em;
}


/* Movie Card Styling */

.mvcard{
    border-bottom: 4px solid #FCBF49;
    background-color: rgb(250 249 240);
    overflow: hidden;
}

.mvcard img{
    margin-left: 30px;;
}

.mvcard-body{
    padding:10px;
}

.mvcard-body h2{
    padding:5px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #003049;
   
}

.mvcard-body h4{
    padding:5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    font-family: 'Poppins', sans-serif;

}

/* Responsive Rules */
@media only screen and (max-width: 600px) {
    .movie-list{
        grid-template-columns: 1fr;
       
    }
  }


  